
ul {
    list-style: none;
  }

 a{
    text-decoration: none;  
}

p,h3,h2,h4{
    color: aqua;
}

.button-style{
    background-color: black;
    color: aqua;
    border: 2px solid aqua;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/